*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.pull-right{
    float: right;
}
.margin-top-10{
    margin-top: 10px;
}
.full-container{
    display: flex; 
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    justify-content: space-between;
}
body{
    background-color: #212735;
}
.content{
    flex-basis: 100%;
    
}
#logo{
    max-width: 45%;
    margin-left: 40px;
}
#logo-container{
    position: relative;
    background-color: #31394d;
    border-radius: 4px;
}
/* #logo-container::before{
    content: '';
    width: 90%;
    border: 1px solid #343f80;
    position: absolute;
    bottom: 0;
    left: 3%;
} */
#heading > h2{
    font-weight: 300;
}
#header-container{
    background-color: #31394d;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#dateTime{
    font-size: 14px;
}
#dash-content{
    height: calc(100% - 64px);
    background-color: #31394d;
    margin-top: 3px;
    border-radius: 3px;
}

#dash-content-1{
    display: flex;
    justify-content: space-evenly;
    padding: 29px 3px;
}
#dash-content-1-left{
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#dash-content-1-right{
    flex-basis: 40%;
}

.small-box{
   border-radius: 3px;
   background: rgb(226,26,26);
background: linear-gradient(90deg, rgba(226,26,26,1) 0%, rgba(253,29,29,1) 42%, rgba(252,69,79,1) 100%);
background: rgb(241,141,17);
background: linear-gradient(10deg, rgba(241,141,17,1) 0%, rgba(249,139,3,1) 1%, rgba(241,197,17,1) 100%);

    width: 46%;
    padding: 32px 15px;
    cursor: pointer;
}
#dash-content-1-left:nth-child(3){
    margin-top: 15px;
}
.small-box h3{
    font-weight: 100;
}
.small-box h2{
    font-weight: 600;
}
.small-box p:nth-of-type(1){
    font-size: 12px;
    color: #0d0d1f;
    font-weight: 600;
}
.small-box p:nth-of-type(2){
    color: white;
    font-size: 13px;
}
canvas{
    width: 100% !important;
    height: 100% !important;
}
@media screen and (max-width: 600px) {
    html{
        font-size: 13px;
    }
    #dash-content-1{
        display: block;
        flex-wrap: wrap;
    }
    #dateTime{
        font-size: 0.8rem;
    }
    #dash-content-1-left, #dash-content-1-right{
        width: 100%;
    }
   
    #dash-content-1-right{
        min-height: 445px;
    }
    #chart-container{
        min-height: 445px;
    }
    #chart{
        min-height: 445px;
    }
}